# Dépendances
node_modules/
npm-debug.log
yarn-error.log

# Fichiers générés par Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Rapports de test
allure-report/
allure-results/
mochawesome-report/

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.idea/
.vscode/
*.sublime-project
*.sublime-workspace